<h1><%%= translate(:listing, :default => "Listing %{model}", :model => <%= class_name %>.human_name(:count => @<%= plural_name %>.size), :count => @<%= plural_name %>.size, :scope => [:railties, :scaffold]) %></h1>

<table class="adm_table">
  <tr>
    <th><%%= <%= class_name %>.human_attribute_name('id') %></th>
<% for attribute in attributes -%>
    <th><%%= <%= class_name %>.human_attribute_name('<%= attribute.column.name %>') %></th>
<% end -%>
  </tr>

<%% @<%= plural_name %>.each_with_index do |<%= singular_name %>, index| %>
  <tr>
<% for attribute in attributes -%>
    <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
<% end -%>
    <td>
      <%%= render :partial => 'shared/object_actions', :locals => {:object => <%= singular_name %>, :index => index} %>
    </td>
  </tr>
<%% end %>
</table>

<br />

<%%= render :partial => 'shared/index_actions', :locals => {:model => <%= class_name %>} %><br><br><br>
<%%= render :partial => 'shared/pagination', :locals => {:collection => @<%= plural_name %>} %>
