<% for attribute in attributes -%>
<p>
  <b><%%= <%= class_name %>.human_attribute_name('<%= attribute.column.name %>') %>:</b>
  <%%=h @<%= singular_name %>.<%= attribute.name %> %>
</p>

<% end -%>

<%%= render :partial => 'shared/show_actions', :locals => {:object => @<%= singular_name %>} %>
